.well-inverse{
    background: #5599ee;
    padding: 0 10px 16px 10px;
    border: 1px solid #2a2deb;
}
.titulo{
    color: #ffc66d;
    font-family: Pacifico, Serif;
    font-size: 3em;
    text-shadow: 1px 1px 10px #e2462d;
}
.panel-primary{
    background: #5599ee;
}
.container{
    margin-top: 1em;
}
.icono{
    margin: 0 5% 0 5%;
}
.control-label{
    padding-top: 2%;
}
.panel-footer{
    padding: 6px 10px 1px 1px;
    background: #337ab7;
}
.color{
    padding: 4px;
}
.row{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
section.row {
    border: 1px dotted #2a2deb; 
    padding-top: 20px; 
    border-radius: 4px;
}
legend{
    border-bottom: 1px solid #ffc66d;
}
body{
    background: #accbff;
}
canvas{
    border: 1px solid black;
}







